.cell {
  width: 25px;
  height: 25px;
  outline: 1px solid #43d3d8;
  display: inline-block;
  /* vertical-align: top; */
}

.cell-finish {
  background-image: url(https://image.flaticon.com/icons/png/512/67/67872.png);
  background-size: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  animation: opacity 0.3s ease-in;
}

.cell-start {
  background-image: url(https://static.thenounproject.com/png/1677182-200.png);
  background-size: 21px;
  background-position: center center;
  background-repeat: no-repeat;
  animation: opacity 0.3s ease-in;
}
